<app-navbar></app-navbar>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 


<body>
    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">Bienvenido a la API de Rick y Morty</h1>
            <p class="lead">Esta es la última versión de la Tarea Rick y Morty Frontend App, desarrollada a través de
                Angular, el poderoso framework de desarrollo de aplicaciones web. Durante su creación, he tenido la
                oportunidad de aprender y aplicar valiosos conocimientos en el desarrollo de aplicaciones dinámicas y
                eficientes.</p>
            <hr class="my-4">
            <p>Explora el emocionante universo de Rick y Morty con datos y detalles proporcionados por esta API.
                Sumérgete en las aventuras de tus personajes favoritos y descubre información fascinante sobre los
                episodios y lugares de la serie.</p>
            <p>Aunque esta aplicación está en su última versión, sé que todavía hay mucho espacio para mejorar y
                crecer. En el futuro, pretendo continuar trabajando en ella, añadiendo nuevas funcionalidades y
                optimizando su rendimiento para brindar una experiencia aún mejor a los usuarios.</p>
        </div>
    </div>
