<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="jumbotron text-center">
        <div class="submit-form">
            <h2>Creación de Personaje</h2>
            <div *ngIf="!submitted">
                <div class="form-group">
                    <label for="id" class="form-label">Id</label>
                    <input type="number" class="form-control" id="id" [(ngModel)]="character.id">
                </div>
                <div class="form-group">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="name" [(ngModel)]="character.name">
                </div>
                <div class="form-group">
                    <label for="status" class="form-label">Estado</label>
                    <input type="text" class="form-control" id="status" [(ngModel)]="character.status">
                </div>
                <div class="form-group">
                    <label for="species" class="form-label">Especie</label>
                    <input type="text" class="form-control" id="species" [(ngModel)]="character.species">
                </div>
                <div class="form-group">
                    <label for="gender" class="form-label">Genero</label>
                    <input type="text" class="form-control" id="gender" [(ngModel)]="character.gender">
                </div>
                <div class="form-group">
                    <label for="origin" class="form-label">Origen</label>
                    <input type="text" class="form-control" id="origin" [(ngModel)]="character.location && character.location.name">
                </div>
                <div class="form-group">
                    <label for="location" class="form-label">Localización</label>
                    <input type="text" class="form-control" id="location" [(ngModel)]="character.location && character.location.name">
                </div>
                <div class="form-group">
                    <label for="image" class="form-label">Imagen link</label>
                    <input type="text" class="form-control" id="image" [(ngModel)]="character.image">
                </div>
                <br>
                <button (click)="saveCharacter()" class="btn btn-success">Submit</button>
            </div>
            <div *ngIf="submitted">
                <p>Confirma que quiere crear el personaje</p>
                <button class="btn btn-success" (click)="newCharacter()">Add</button>
            </div>
        </div>
    </div>
</div>