.character-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.card {
    margin-top: 20px;
    background-color: rgba(8, 8, 8, 0.836);
    color: white;

}

.character-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

.character-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 10px;
}

.btn-details {
    border: none;
    background-color: rgb(77, 255, 53);
    color: black;
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: center;
}
