/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('assets/images/fondo.jpg');
    background-position: center;
    background-attachment: fixed;
    /* Otros estilos globales si los necesitas */
}